{% extends 'base.html' %}

{% block content %}
<style>
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col-md-9 {
        flex: 0 0 75%;
    }

    .col {
        margin-bottom: 17px;
    }
    .card {
        width: 100%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        text-align: right;
    }

    .tag-item {
        display: block;
        margin-bottom: 7px;
    }

    .task-controls {
        flex-direction: row;
        justify-content: flex-end;
    }

    .pagination {
        display: flex;
        justify-content: center;
    }
    .tag-item {
      margin-bottom: 1rem;
    }


</style>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h3 class="text-center">Quotes related to the tag "{{ tag.name }}"</h3>
            {% for quote in quotes %}
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <p class="card-text">{{ quote.content }}</p>
                        <p class="card-text">Author: <a href="{% url 'author_detail' pk=quote.author.id %}">{{ quote.author.fullname }}</a></p>
                        <p class="card-text">Tags: {% for tag in quote.tags.all %}
                            <a href="{% url 'tag_detail' tag_name=tag.name %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col-md-3">
            <h2>Top Ten tags</h2>
            {% for tag in top_tags %}
            <span class="tag-item">
                <a class="tag" href="{% url 'tag_detail' tag.name %}">{{ tag.name }}</a>
            </span>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
